<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key="TeamcityUrl" value="http://teamcity.win.sys.7d/" />
	<add key="TeamCityUser" value="anthonys" />
	<add key="SmtpHost" value="smtp.7digital.live" />
	<add key="DestinationEmail" value="anthony.steele@7digital.com" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>